.product-info-wrapper {
    margin: 80px 0;
}
.choose-color {
    width: 40px;
    height: 40px;
    border: none;
    &:hover {
        border: solid 1px black;
        width: 42px;
        height: 42px;
    }
    &-yellow {
        background-color: #f2f1bb;
    }
    &-pink {
        background-color: #f2cbcd;
    }
    &-blue {
        background-color: #d2ebef;
    }
}
.add-wish {
    margin-left: 30px;
    img {
        width: 87%;
    }
}
.product-info {
    font-size: 19px;
    &-title {
        @extend .h3;
        text-align: left;
    }
    &-price {
        font-size: 23px;
        font-weight: bold;
        margin: 40px 0;
    }
    .table {
        display: table;
        margin: 50px 0 30px;
    }
    .table-row {
        display: table-row;
    }
    .cell {
        display: table-cell;
        padding: 0 30px 30px 0;
    }
    
}
.owl-carousel {
    position: relative;
    .owl-nav {
        .owl-next, .owl-prev {
            position: absolute;
            top: 50%;
            margin-top: -30px;
            right: 0;
        }
        .owl-prev {
            left: 0;
        }
    }
}