
    <div class="product-info-wrapper">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-12">
                <div class="owl-carousel" id="sliderProduct">
                {{#each sliderProduct}}
                <div class="slider-product-img">
                    <img id="{{id}}" src="static/img/content/slider/{{imgName}}.jpg" data-zoom-image="static/img/content/slider/{{imgLarge}}.jpg" alt="Slider image sock"/>
                </div>
                {{/each}}
                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-lg-6 col-md-12">
                <div class="product-info">
                    <div class="product-info-title">Lemon-Pattern Ankle Socks</div>
                    <div class="product-info-price">$<span>1.50</span></div>
                    <div class="product-info-desc">Patterned with a burst of cascading stars and bright crabs, this pair of ankle socks is a perfect antidote to the winter blues (or a great way to give yourself a boost if you're feeling, you know… crabby).</div>
                   
                    <div class="table">
                        <div class="table-row">
                            <div class="cell">Colour</div>
                            <div class="cell">
                                <form class="choose-color-form" action="">
                                    <button id="chooseColorYellow" class="choose-color choose-color-yellow"></button>
                                    <button id="chooseColorPink" class="choose-color choose-color-pink"></button>
                                    <button id="chooseColorBlue" class="choose-color choose-color-blue"></button>
                                </form>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="cell">Quantity</div>
                            <div class="cell">{{> inputTypeNumber/inputTypeNumber}}</div>
                        </div>
                    </div>
                  
                    <button class="btn order-add-btn">Add to cart</button>
                    <button class="btn add-wish"><img src="static/img/general/wish-list-icon-inverse.png" alt=""></button>    
                  
                  
                    
                </div>
            </div>
        </div>
    </div>
