.btn {
	&:not(.prevent-ta) {
		text-align: center;
	}
	color: #fff;
	padding: 24px 29px;
	border: none;
	border: 1px solid transparent;
	background-color: $darken;
	outline: none;
	vertical-align: top; // ! better to remove
	font-weight: 700;
	display: inline-block;
	margin: auto;
	font-family: $font-family-base;
	.block-inverse & {
		border-color: #fff;
	}

	&:hover {
		 background: lighten($darken, 20%);
	}
	.uppercase{
	text-transform: uppercase;
}
}