input, .input {
	background: transparent;
	border: 1px solid transparent;
	border-bottom-color: $darken;
	font-family: $font-family-base;
	outline: none;
	padding: 10px 0;
	&:not([type="submit"]) {
		width: 100%;
		&:focus {
			padding-left: 5px;
		}		
	}
	&:focus {
		border-color: $darken;
	}
	.block-inverse & {
		border-bottom-color: #fff;
		&:focus {
			border-color: #fff;
		}
	}
	&-sm {
		width: 20% !important; 
		margin-right: 18px;
		border: 1px solid $darken;
	}
}
&::-webkit-input-placeholder {
	color: $darken;
	font-size: $font-size;
	font-weight: 400;
	font-family: $font-family-base;
}
&:focus::-webkit-input-placeholder { color: transparent !important}
.block-inverse {
	::-webkit-input-placeholder {
		color: #fff;
	}
}

.forms {
	padding-top: 30px;
	&-submit {
		margin-top: (100 / 390 * 100%);
	}
}
.slash {
	color: black;
	font-size: 36px;
	font-weight: 100;
	padding-right: 15px;
	vertical-align: bottom;
}
label, .label {
	width: 30%;
	display: inline-block;
	color: $darken;
	font-size: $font-size;
	font-weight: 400;
	font-family: $font-family-base;
}