<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3 class="block-title">Personal Detail</h3>
				<div class="forms"><input type="text" placeholder="name"></div>
				</div>
		<div class="col-md-4">
			<h3 class="block-title">Billing Address</h3>
				<div class="forms"><input type="text" placeholder="line"></div>
				</div>
		<div class="col-md-4">
			<h3 class="block-title">Payment Details</h3>
				<div class="forms"><input type="text" placeholder="name"></div>
				</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="forms"><input type="text" placeholder="e-mail"></div>
			</div>
		<div class="col-md-4">
			<div class="forms"><input type="text" placeholder="town"></div>
			</div>
		<div class="col-md-4">
			<div class="forms"><input type="text" placeholder="card №"></div>
			</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="forms"><input type="text" placeholder="phone number"></div>
			</div>
		<div class="col-md-4">
			<div class="forms"><input type="text" placeholder="country"></div>
			</div>
		<div class="col-md-4">
			<div class="forms"><input type="text" placeholder="code"></div>
			</div>
	</div>
</div>
