<div class="container">
	<div class="contact-form-holder">
		<form action="" class="">
			<div class="row">
				<div class="col-md-4">
					<div class="contact-form-col">
						<h3 class="block-title">Personal Detail</h3>
						<div class="forms"><input type="text" placeholder="name"></div>
						<div class="forms"><input type="text" placeholder="e-mail"></div>
						<div class="forms"><input type="text" placeholder="phone number"></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="contact-form-col">
						<h3 class="block-title">Billing Address</h3>
						<div class="forms"><input type="text" placeholder="line"></div>
						<div class="forms"><input type="text" placeholder="town"></div>
						<div class="forms"><input type="text" placeholder="country"></div>
						<div class="forms"><input type="text" placeholder="code"></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="contact-form-col">
						<h3 class="block-title">Payment Details</h3>
						<div class="forms"><input type="text" placeholder="name"></div>
						<div class="forms"><input type="text" placeholder="card №"></div>
						<input type="submit" value="ORDER REVIEW" class="btn forms-submit uppercase">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>