<div class="container main">
    <div class="row">
        <img class"" src="static/img/content/main.jpg" alt="">
    </div>
</div>
<div class="container lookbook">
    <h1 class="block-title h1">Lookbook</h1>
    <div class="row">
       <div class="col-xxs-12 col-xs-6 first">
           <img src="static/img/content/layer-3.jpg" alt="">
           <img src="static/img/content/layer-4.jpg" alt="">
       </div>
       <div class="col-xxs-12 col-xs-6 second">
           <img src="static/img/content/layer-2.jpg" alt="">
           <img src="static/img/content/layer-5.jpg" alt="">
       </div>
    </div>
</div>
