<div class="container main">
    <div class="row">
        <img class"" src="static/img/content/main.jpg" alt="">
    </div>
</div>
<div class="container lookbook">
    <h1 class="block-title h1">Lookbook</h1>
    <div class="row season">
      <h3 class="fall-text">FALL-WINTER 2015-2016</h3>
      <h3 class="spring-text">SPRING-SUMMER 2015</h3>
      <h3 class="winer-text">WINTER 2014-2015</h3>
      <div class="col-xxs-12 col-xs-6 first">
        <img src="static/img/content/layer-3.jpg" alt="">
        <img src="static/img/content/layer-4.jpg" alt="">
      </div>
      <div class="col-xxs-12 col-xs-6 second">
        <img src="static/img/content/layer-2.jpg" alt="">

        <img src="static/img/content/layer-5.jpg" alt="">
      </div>
    </div>
</div>
