 $block-inverse-color: #fff !default;
 $bg-dark: #000;

.block {
	&-title {
		text-align: center;
	}
	&-inverse {
		color: $block-inverse-color;
		h1,h2,h3,h4,h5,h6,
		.h1,.h2,.h3,.h4,.h5,.h6 {
			color: inherit;
		}
		&-accent {
			// color: $accent-color;
		}
	}
}
.bg {
	&-dark {
		background-color: $bg-dark;
	}
}
.p {
	&-md {

	}
}

.wish-title:before {
	text-align: center;
	padding-right: (45 / 1550 * 100%);
	content: url(../img/general/wish-list-icon.png);

}
.cart-title:before {
	text-align: center;
	padding-right: (45 / 1550 * 100%);
	content: url(../img/general/cart-icon.png);
}