.col-
<div class="slider-product-wrapper owl-carousel" id="sliderProduct">
    {{#each sliderProduct}}
    <div class="slider-product-item">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="slider-product-img">
                    <img src="static/img/content/slider/{{imgName}}.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="slider-product-content">
                    <div class="slider-product-title">{{title}}</div>
                    <div class="slider-product-price">{{price}}</div>
                    <div class="slider-product-desc">{{desc}}</div>
                    
                    <form>
                        <button class="btn">Add to cart</button>
                        <button class="btn"></button>    
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
