<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href=""><img src="markup/static/img/general/search-icon.png" alt=""></a>
        </div>
        <div class="col-md-4">
            <nav>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Store</a></li>
                    <li><a href="">Lookbook</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3">
            <ul>
                <li><img src="static/img/general/search-icon.png" alt=""></li>
                <li><img src="static/img/general/wish-list-icon.png" alt=""></li>
                <li><img src="static/img/general/cart-icon.png" alt=""></li>
            </ul>
        </div>
    </div>
</div>
