.header {
    padding: 20px 0;
    .logo {
       img {
        margin: 0;
       }
    }
    .navbar {
        ul {
            padding: 0;
            margin: 12px 0 0 0;
            li {
                display: inline-block;
                & a {
                    text-decoration: none;
                }
            }
        }
    }
    .control-panel {
        text-align: right;
        padding: 0;
        margin: 12px 0 0 0;
        li {
            display: inline-block;
            width: 30%;
            :last-child {
              position: relative;

            }
            .badge {
              font-size: 18px;
              font-weight: 700;
              position: absolute;
              top:3px;
              right: 15px;
            }
        }
        img {
            width: 20px;
        }
    }
}



/* Menu  */
#menu-checkbox {
  display: none;
}
.main-menu {
  display: none;
  padding: 0;
  margin: 0;
}
.main-menu li {
  font-size: 1em;
  display: block;
  width: 100%;

}
.main-menu a {
  display: block;
  color: lightslategray;
  text-decoration: none;
}
.toggle-button {
  text-align: center;
  display: block;
  cursor: pointer;
  color: #fff;
}
#menu-checkbox:checked + nav[role="navigation"] .main-menu {
  display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
  content: attr(data-close);
}

.hamburger {
    width: 70px;
}

@media screen and (min-width: 779px) {
    .toggle-button {
        display: none;
    }
    .main-menu {
        display: block;
    }
    .main-menu li {
      width: calc(100% / 5);
      text-align: center;
      display: inline-block;
      margin-right: -10px;
    }
    .main-menu a {
      color: black;
      border-bottom: 0;
    }

  }


  @media screen and (max-width: 996px) {
    .header .navbar ul {
      margin: 3px 0 0 0;
    }
    .main-menu li {
      font-size: 16px;
    }
    .header .control-panel {
      margin: 10px 0 0 0;
    }
    .header .control-panel img {
      width: 15px;
    }
    .header .control-panel li .badge {
      font-size: 14px;
    }
  }

@media screen and (max-width: 470px) {
    .header .control-panel img {
      width: 15px;
    }
    .header .control-panel li {
      width: 27%;
    }
    .header .control-panel {
      margin: 7px 0 0 0;
    }
    .hamburger {
      width: 50px;
    }
    .header .control-panel li .badge {
      font-size: 8px;
      top:15px;
      right: 26px;
    }
  }
  @media screen and (max-width: 430px) {
    .header .control-panel li .badge {
      right: 24px;
    }
  }
 @media screen and (max-width: 385px) {
    .header .control-panel li .badge {
      right: 23px;
    }
  }
