<div class="container">
    <div class="header">
        <div class="row">
            <div class="col-xxs-3 col-md-2">
                <a href="index.html" class="logo"><img src="static/img/general/logo.png" alt=""></a>
            </div>
            <div class="col-xxs-6 col-md-8">
                <input type="checkbox" id="menu-checkbox" />
                <nav  role="navigation" class="navbar">
                    <label for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick>
                       <img class="hamburger" src="static/img/general/hamburger.png" alt="">
                    </label>
                    <ul class="main-menu text-center h3">
                        <li class="footer-socials-item"><a href="">About</a></li>
                        <li class="footer-socials-item"><a href="store.html">Store</a></li>
                        <li class="footer-socials-item"><a href="">Lookbook</a></li>
                        <li class="footer-socials-item"><a href="">Contact</a></li>
                        <li class="footer-socials-item"><a href="">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xxs-3 col-md-2">
                <ul class="control-panel">
                    <li><a href=""><img src="static/img/general/search-icon.png" alt=""></a></li>
                    <li><a href="wish-list.html"><img src="static/img/general/wish-list-icon.png" alt=""></a></li>
                    <li>
                        <a href="cart.html">
                            <img src="static/img/general/cart-icon.png" alt="">
                        </a>
                        <span class="badge">2</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>