
<div class="order table">
  <div class="img-wrap cell"><img src="http://www.iconsdb.com/icons/preview/soylent-red/socks-xxl.png" alt=""></div>
  <div class="item cell">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam architecto accusamus est voluptatibus, vero, eaque hic repellat, animi explicabo dolor voluptates possimus placeat alias ut aliquam aut veritatis eius! Harum?</p>
  </div>
  <div class="item cell">
    <div class="count"><a href="#" class="count-link minus">-</a><input class="count-link amount" value="1"><a href="#" class="count-link plus">+</a></div>
  </div>
  <div class="sum cell">
    <p>1.50</p>
  </div>
  <div class="add cell">
       <button class="btn">Add to cart</button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
