.order {
   border-top: 1px solid black;
   width: 100%;
   &:last-child {
     border-bottom: 1px solid black;
   }
   &-count {
     width: 15%;
   }
    &-sum {
      width: 10%;
      text-align: center;
      p {
        font-weight: bold;
      }
    }
    &-add {
      text-align: right;
      width: 15%;
    }
    &-img {
      width: 20%;
      padding-right: 70px;
    }
    &-img img {
      width: 100%;
      height: auto;
    }
    &-title {
      width: 40%;
    }
    p {
      font-size: 24px;
    }
    .table {
      display: table;
      border: solid 1px black;
      padding: 20px;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
    }    
}
.order-close {
  position: relative;
  background: transparent;
  border: none;
  margin-right: 30px;
  &:after, &:before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
  }
}
.order-wrapper .order-close {
  display: none;
}
.cart-wrapper .order-add-btn {
  display: none;
}
.order-wrapper, .cart-wrapper {
  margin-bottom: 70px;
}
.text-right {
  text-align: right;
}

@media all and (max-width: 768px) {
   
  .order {
    position: relative;
    padding: 30px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    &-img {
      width: 35%;
      float: left;
    }
    &-title {
      width: 65%;
    }
    &-close {
      position: absolute;
      right: -15px;
      top: 20px;
    }
    &-sum {
      float: right;
      line-height: 0;
      margin-top: -10px;
    }
    &-count {
      float: left;
    }
    &-add {
      width: 100%;
      &-btn {
        margin-right: -20px;
      }
    }
   .table {
      display: block;
    }
    .cell {
      display: inline-block;
    }
  }
  
}
@media all and (max-width: 768px) {
  .order {
    &-img {
      width: 50%;
    }
    &-title {
      width: 50%;
    }
  }
}

