.order {
   border-top: 1px solid black;
   width: 100%;
   &:last-child {
     border-bottom: 1px solid black;
   }
   &-count {
     width: 15%;
   }
    &-sum {
      width: 10%;
      text-align: center;
      p {
        font-weight: bold;
      }
    }
    &-add {
      text-align: right;
      width: 15%;
    }
    &-img {
      width: 20%;
      padding-right: 70px;
    }
    &-img img {
      width: 100%;
      height: auto;
    }
    &-title {
      width: 40%;
    }
    p {
      font-size: 24px;
    }
    .table {
      display: table;
      border: solid 1px black;
      padding: 20px;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
    }    
}


@media all and (max-width: 768px) {
   
  .order {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    &-img {
      width: 20%;
      float: left;
    }
    &-title {
      width: 80%;
    }
   .table {
      display: block;
    }
    .cell {
      display: inline-block;
    }
  }
  
}

