{{#each orderList}}
  <div class="order table">
    <div class="order-img cell"><img src="static/img/content/products/{{imgName}}.jpg" alt=""></div>
    <div class="order-title cell">
      <p>{{title}} <br>
          {{desc}}</p>
    </div>
    <div class="order-count cell">
      {{>inputTypeNumber/inputTypeNumber}}
    </div>
    <div class="order-sum cell">
      <p>$<span>{{price}}</span></p>
    </div>
    <div class="order-add cell">
         <button class="btn order-add-btn">Add to cart</button>
         <button class="order-close"></button>
    </div>
    </div>
{{/each}}

