<div class="sidebar-nav">
	<h4 class="sidebar-nav-section-link">
		<a href="#" class="">Men</a>
	</h4>
	<ul class="sidebar-nav-list">
		<li class="sidebar-nav-item">
			<h4 class="sidebar-nav-section-link current">Women</h4>
		</li>
		<li class="sidebar-nav-item">
			<span class="sidebar-nav-link active current">ankle</span>
		</li>
		<li class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">crew</a>
		</li>
		<li class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">knee</a>
		</li>
		<li class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">over the knee</a>
		</li>
	</ul>
	<h4 class="sidebar-nav-section-link">
		<a href="#" class="">Kids</a>
	</h4>
</div>