.sidebar-nav {
	margin-top: -55px;
	overflow: hidden;
	text-decoration: none;
	&-list {
		@include nl();
	}
	&-item {
		display: block;
		overflow: hidden;
		&:first-child {
			margin-bottom: 4px;
		}
	}
	&-section-link {
		margin: 0;
		margin-top: 55px;
		color: #000;
		text-decoration: none;
		&:not(.current):hover,
		&:not(.current).active {
			text-decoration: underline;
		}
		&.current {
			cursor: default;
		}
	}
	&-link {
		@extend .sidebar-nav-section-link;
		display: inline-block;
		margin: 4px 0;
		&.current {
			text-decoration: underline;
		}
	}
	a {
		color: inherit;
		text-decoration: inherit;
	}
}
@include media-breakpoint-down(sm) {
	.sidebar-nav {
		@include cf();
		margin: 15px auto;
		&-list {
			float: right;
			@include cf();
		}
		&-section-link {
			float: left;
			margin: 5px;
		}
	}
}