.breadcrumbs {
	&-control {
		padding-top: (100 / 1550 * 100%);
		padding-bottom: (100 / 1550 * 100%);
	}
	list-style: none;
	margin: 0;
	padding: 0;
	&-item {
		display: inline-block;
	}
	&-link {
		color: #000;
	}
	@include media-breakpoint-down(sm) {
		display: none;
	}
}
.breadcrumbs-item+.breadcrumbs-item:before {
	padding-right: 10px;
    color: #000;
    content: "/";
    opacity: 1;
}
